**General Approach**

In [4]:
lst = [1, 2, 3, 4, 5]
rev_lst = []
length = len(lst)

for i in range(length-1,-1,-1):
  rev_lst.append(lst[i])

print(rev_lst)

[5, 4, 3, 2, 1]

using **reverse()** function

In [8]:
lst = [1, 2, 3, 4, 5]
lst.reverse()

print(lst)

[5, 4, 3, 2, 1]

**Another way to reverse**

In [10]:
lst = [1, 2, 3, 4, 5]
rev = lst[::-1]

print(rev)

[5, 4, 3, 2, 1]